# api id and api hash (my.telegram.org)
# required
API_ID='8057151'
API_HASH='98c6b87551296d54ab30e74a17deae73'

# pyrogram session string (@genstr_robot)
# required
SESSION='AQCqGLL5a7csNRffgsLN67UBytvUr1MwXSLdiOJN37EkgBgmei46NJVnZvxxe8dcv3gz35ilvZrZCx2a_LJzLzyp4FZ7goNZcSDdjivg6TW2OPwLIOx__VK31sLs55b3UESVyWp'

# sudo user ids (separate with space)
# optional
SUDOERS='767116686 1084260871 617075060'

# command prefix (separate with space)
# optional
PREFIX='/'

# default language for the bot in groups
# optional
LANGUAGE='en'

# custom stream quality for the bot in groups
# optional
CUSTOM_QUALITY='high'
